@font-face {
    font-family: fontesite;
    src: url(../Fonts/PoetsenOne-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fontesite;
}

html{
    overflow: hidden;
}

.cenario{
    /* background-image: url(../images/game.avif) + filter brightness(0.25) opacity(0.75); */
   
    height: auto;
    
    background:  url(../images/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px, 0px, 170px;
    height: 100vh;
    
    }



.centralizer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
    justify-content: space-around;

}

.cabecalho{
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    background-color: rgb(8, 7, 73);
    color: #fff;
}

.player{
    align-items: center;
    text-align: center;
    color: #ffff;
}

.player img, .inimigo img{
    height: 7em;
    margin: 2em;
    opacity: 0.3;
    cursor: pointer;
}

.cenario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}


.resultado{
    display: flex;
    justify-content: center;
    position: top;
    height: 10vh;
    font-size: 1.5em;
    color: blueviolet;
    background-color: rgb(8, 7, 73);
    
    
}

.inimigo{
    
    color: #ffff;
}

/* ------------------------------------Resp----------------- */

@media screen and (max-width: 580px){

   

    .player img, .inimigo img{
        height: 5em;
        margin: 2em;
      
    }

   


}

@media screen and (max-width: 415px){

 

    .player img, .inimigo img{
        height: 3em;
        margin: 1em;
      
    }


    .inimigo h1{
        font-size: 20px;
    }

    .player h1{
        font-size: 20px;
    }

    
    
}